body {
    color: #484e60;
    background-color:#c0d8ee;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana;
}


.subtitle { 
    font-size: 36px; 
    color: #000000; 
    margin-bottom: 20px }

.page-title { 
    font-size: 48px; 
    color: #383c3f;
    margin-bottom: 40px }

#my-name { 
    color: #ffffff; 
    font-size: 12px; }

.subheader { 
    font-size: 24px; 
    color: #383c3f;
    padding-left: 20px; }

#disclaimer { font-size:12px; 
    color: black;
    border: 2px solid white; 
    padding: 10px; 
    width:200px; }

#answer-table {
    padding-left: 30px;
    margin-bottom: 40px;}