body {
    color: #484e60;
    background-color:#c0d8ee;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana;
}
.subtitle { font-size: 36px; 
    color: #000000 }
#page-title { font-size: 60px; 
    color: rgb(56, 60, 63) }
#my-name { color: white; 
    font-size: 12px; }
.subheader { font-size: 24px; 
    color:rgb(56, 60, 63)}
#disclaimer {font-size:12px; 
    color: black;
    border: 2px solid white; 
    padding: 20px; 
    margin: 20px; 
    width:300px; }